		
	<div  class="container">
		<div class="col-xs-4"> 
			<div class="form-group">
				<label for="idConsultora">Id consultora:</label>
				<input type="text" class="form-control" id="idConsultora" name="idConsultora" autofocus placeholder="ID" ng-model="consultora.id">
			</div>
			<button type="submit" class="btn btn-success btn-block" id="botonEnviar" ng-click="updateResultado(consultora.id)">Enviar</button>
			<br>
			<div id="resultado">
				<h3> El nombre es: {{consultora.nombre}} </h3>
				<h3> La descripcion es: {{consultora.descripcion}} </h3>

			</div>	
		</div>

	</div>
	