 <div class="container" ng-show="mostrarFormulario()">
      <form class="form-signin">
       <div id="resultado" style="margin-top:-35px;">
				<h3> Nueva Consultora </h3>
		</div>
        <label>Usuario</label>
        <input  style="margin-bottom: 10px;" class="form-control" ng-model="consultora.username" required autofocus>
        <label>Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="consultora.password" required> 
      
        <button class="btn btn-lg btn-info btn-block" ng-click="crearUsuario(consultora)" >Crear</button>
      </form>
      

    </div>