 <div class="row">
 	 <div class="container container-fluid" style="padding-top: 3%">
     
      <form class="form-signin">
	       <div>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="1500" close="closeAlert($index)">{{alert.msg}}</alert>
		  </div>
      	<h1>Administrador</h1>
        <div class="row">    
        <input  style="margin-bottom: 10px;" class="form-control" placeholder="Usuario" ng-model="consultora.nombreAdminConsultora" required>
        </div>
        
        <div class="row">    
		<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" ng-model="consultora.passAdminConsultora" required>
        </div>
        
         <br>
         
        <h1>Consultora</h1>
        <div class="row" style="padding-bottom: 4%">
        <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" required  ng-model="consultora.nombre">    
        </div>
        
        <div class="row" style="padding-bottom: 4%">
        <input type="text" id="inputDescripcion" class="form-control" placeholder="Descripcion" required  ng-model="consultora.descripcion">    
        </div>
        
         <div  class="row col-md-13"> 
        <button class="btn btn-lg btn-info btn-block" ng-click="crearUsuario(consultora)" >Crear</button>
        </div>
      </form>
     

    </div>
</div>