<div class="row">
			<div class="" style="padding-top: 5em; padding-left: 4em;">
					<button class="btn btn-info" ng-click="getEleccionesActuales()"> Mostrar Elecciones </button>
			<div class="row">
				<div class="form-group">
					<div class="radio" ng-repeat="eleccion in elecciones">
						<label>
							<input type="checkbox" ng-value="eleccion" ng-model="seleccion.eleccion" id="{{eleccion}}"> {{eleccion.nombre}}
						</label>
					</div>
						<button class="btn btn-info" ng-click="borrarEleccion(seleccion.eleccion.id)"> Borrar </button>
				</div>
			</div>
		</div>
</div>