<div class="row">
  <div class="" >

        
            
            <div class="text-center" id="headAltaEleccion">
            <h1>Nueva Eleccion</h1>
            
            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
            
                <a ng-class="{active : activoPaso1}" ng-click="setStep(1)"><span>1</span> Eleccion</a>
                <a ng-show="eleccionOtra()" ng-class="{active : activoPaso2}" ng-click="setStep(2)"><span>2</span> Partidos</a>
			    <a ng-class="{active : activoPaso3}" ng-click="setStep(3)"><span>{{numeroPaso3}}</span> Listas</a>
			    <a ng-class="{active : activoPaso4}" ng-click="setStep(4)"><span>{{numeroPaso4}}</span> Candidatos</a>
			    <a ng-class="{active : activoPaso5}" ng-click="setStep(5)"><span>{{numeroPaso5}}</span> Diseño</a> 
            </div>
       		 </div>
       		 
       		 <form class="form-signin container-fluid" ng-submit="processForm()">
			   <div  class="text-center" ng-switch="step">
			      <div ng-switch-when="1">
			          <div ng-include="'views/Elecciones1.html'"></div>
			      </div>
			     
			      <div ng-switch-when="2">
					 <div ng-include="'views/Elecciones2.html'"></div>      
			      </div> 
			      
			      <div ng-switch-when="3">
			          <div ng-include="'views/Elecciones3.html'"></div>
			      </div>
			      
			      <div ng-switch-when="4">
			          <div ng-include="'views/Elecciones4.html'"></div>
			      </div>
			      
			      <div ng-switch-when="5">
			          <div ng-include="'views/Elecciones5.html'"></div>
			      </div>
			   </div>
			</form>
			
			 <pre>

        {{candidatos|json }}
        
    </pre>

   
</div>