<div class="modal-header">
	<h3 class="modal-title">Seleccione fuente de noticia</h3>
</div>
<div class="modal-body ">
	 <div class="form-group">
		
		<div class="row">
      		 
     	  		<input type="text" ng-model="formData.FNDepto" >
			</div>
			<div class="row"> 
			 <label>
	    		<input type="radio" ng-model="formData.tipoFuente" value="facebook">
	    			<img src="resources/img/facebook.png"></img>
	  		  </label>
			  <label>
	    		<input type="radio" ng-model="formData.tipoFuente" value="twitter">
	    			 <img src="resources/img/twitter.png"></img>
	  	      </label>
			  <label>
				<input type="radio" ng-model="formData.tipoFuente" value="youtube">
					<img src="resources/img/youtube.png"></img>		
			  </label>	
		</div>
	 </div>
</div>		

	
   
     <div ng-show="hayFuentes()" class="fuentes-informacion ">
  		<h4 class="text-center">Fuentes agregadas </h4>
      		<hr>
     	<div class="col-md-6" ng-repeat="fn in listaFuentes">
		  	<div ng-switch="fn.tipo">
		      <div ng-switch-when="facebook">
	       		<span class="fa-stack fa-lg facebook-icon">
		     	<i class="fa fa-facebook-square"></i>
				</span>
		     	{{fn.url}}
			  </div>
			  <div ng-switch-when="twitter">
			  	<span class="fa-stack fa-lg twitter-icon">
		     	<i class="fa fa-twitter"></i>
				</span>
		       	{{fn.url}}
 				  </div>
			  <div ng-switch-when="youtube">
			    <span class="fa-stack fa-lg youtube-icon">
		     	<i class="fa fa-youtube-play"></i>
				</span>
		       	{{fn.url}}
			  </div> 
			</div>
		</div>
	</div>
   

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="crearFuenteDepto()">OK</button>
	<button class="btn btn-danger" ng-click="finCrearFuentes()">Finalizar</button>
</div>