 <h3 class="text-center">Partidos <small>Crea los partidos participantes.</small></h3>
<div class="form-step"> 
        <div class="row">    
        <label>Nombre</label>
        <input  style="margin-bottom: 10px;" class="form-control" placeholder="Ej: Partido Popular" ng-model="formData.NombrePartido"required autofocus>
        </div>
        <div class="row">
        <label>Fecha de Fundación</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" init-date="formData.FechaPartido" ng-model="formData.FechaPartido" is-open="datePicker.isOpen" min-date="1700-12-22" max-date="{{dt}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>        
        <div class="row">
        <label>Presidente</label>
          <input  style="margin-bottom: 10px;" class="form-control" placeholder="Nombre del Presidente" ng-model="formData.Presidente"required autofocus>
       	</div>
       	<div class="row"> 
       	<label>Historia</label>
          <input  style="margin-bottom: 10px;" class="form-control" placeholder="" ng-model="formData.Descripcion"required autofocus>
       	</div>
</div>						
    	<div ng-if="fuentePorPartido()" class="row"> 
      	<div class="panel panel-info">
		<div class="panel-heading">
		    <h3 class="panel-title">Fuentes de Noticias</h3>
		</div>
		<div class="panel-body">	
			<div class="form-group col-md-8" >
	       			<input class="form-control" ng-disabled="esFacebook && esTwitter && esYoutube" placeholder="Fuente de Informacion" ng-model="formData.FNPartido"required autofocus> 
			</div>
			<div class="form-group col-md-4">
			        <a ng-click="nuevaFuente()" class="btn btn-block btn-info" ng-disabled="esFacebook && esTwitter && esYoutube"> Alta Fuente </a>
			</div>
	 		<div class="radio-div">
		 		<label class="col-md-4">
			    	<input type="radio" ng-model="formData.tipoFuente" ng-disabled="esFacebook" value="facebook">
			    	<span class="fa-stack fa-lg facebook-icon">
					     	<i class="fa fa-facebook-square fa-stack-2x"></i>
					</span>
			  	</label>
				<label class="col-md-4">
			    	<input type="radio" ng-model="formData.tipoFuente" ng-disabled="esTwitter" value="twitter">
			    	<span class="fa-stack fa-lg twitter-icon">
					     	<i class="fa fa-twitter fa-stack-2x"></i>
					</span>
			  	</label>
				<label class="col-md-4">
				  	<input type="radio" ng-model="formData.tipoFuente" ng-disabled="esYoutube" value="youtube">
					<span class="fa-stack fa-lg youtube-icon">
					     	<i class="fa fa-youtube-play fa-stack-2x"></i>
					</span>	
				</label>
	 		</div>
		    <div ng-show="hayFuentes()" class="fuentes-informacion ">
		  		<h4 class="text-center">Fuentes agregadas </h4>
	       		<hr>
	       		<div class="col-md-4" ng-repeat="fn in noticiasPartidos">
				  	<div ng-switch="fn.tipo">
				      <div ng-switch-when="facebook">
			       		<span class="fa-stack fa-lg facebook-icon">
				     	<i class="fa fa-facebook-square"></i>
						</span>
				     	{{fn.url}}
					  </div>
					  <div ng-switch-when="twitter">
					  	<span class="fa-stack fa-lg twitter-icon">
				     	<i class="fa fa-twitter"></i>
						</span>
				       	{{fn.url}}
	  				  </div>
					  <div ng-switch-when="youtube">
					    <span class="fa-stack fa-lg youtube-icon">
				     	<i class="fa fa-youtube-play"></i>
						</span>
				       	{{fn.url}}
					  </div> 
					</div>
				</div>
	       	</div>
      	</div>
	</div>
</div><!-- end of panel social -->
     	
     
      <div ng-show="deptosYNoticias()" class="row">
      <div class="col-md-6">
      <label>Seleccionar departamento:</label>
       </div>
       <div class="col-md-6">
      <a ng-click="openModal()" class="col-md-4 btn btn-block btn-info">Departamentos</a>	
    </div><br>
      </div>
      
      <div class="row margin-bottom-panel">
      <div class="col-md-6">
        <a ng-click="nuevoPartido()" class="btn btn-block btn-info"> Crear <span class="glyphicon"></span></a>
 </div>
 <div class="col-md-6">
  <a ng-click="setStep(3)" class="btn btn-block btn-info"> Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
 </div> 
</div>
			
