 <div>
 <h3>Nueva Lista</h3>
             
        <div class="row">  
         <div class="col-md-6">   
        <input  style="margin-bottom: 10px; float: left;" class="form-control" placeholder="Numero" ng-model="formData.NumeroLista"required autofocus>
      	</div>
        
         <div class="row" ng-hide="formData.tipoEleccion == 'Otra'">  
        <div class="col-md-6"> 
        	
          <select ng-change="deptoXPartido()"  ng-options="partido.nombre for partido in partidos" ng-model="formData.PartidoSeleccionado"></select>
        	 
           </div>
           </div>
        <br>
     	 <div ng-show="deptosYNoticias()" class="row"> 
       	 <label>Seleccione Depto:</label>
        	 <select ng-change="deptoXPartido()"  ng-options="departamento.nombre for departamento in departamentoPartido" ng-model="formData.DeptoLista"></select>
           </div>
        </div>
        
                     
     
        
        <div class="row">
        <div class="col-md-6">
          <a ng-click="nuevaLista(formData)" class="btn btn-block btn-info"> Crear <span class="glyphicon"></span></a>
		 </div>
		 <div class="col-md-6">
		  <a ng-click="setStep(4)" class="btn btn-block btn-info"> Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
		 </div> 
		</div>
       
</div>						
					
