 <h3 class="text-center">Listas <small>Crea listas de votación.</small></h3>
 <div class="form-step">         
	<div class="row"> 
	  <label>Numero</label>  
	  <input class="form-control" placeholder="Ej: 2200, 4545..." ng-model="formData.NumeroLista"required autofocus>
	</div>
	<div class="row" ng-hide="formData.tipoEleccion == 'Otra'">        
	   	<label>Partido </label>
		<select ng-change="deptoXPartido()" class="form-control" ng-options="partido.nombre for partido in partidos" ng-model="formData.PartidoSeleccionado"></select>          
	</div>
	<div ng-show="deptosYNoticias()" class="row"> 
	 	<label>Seleccione Depto:</label>
	  	<select ng-change="deptoXPartido()" class="form-control" ng-options="departamento.nombre for departamento in departamentoPartido" ng-model="formData.DeptoLista"></select>			
	</div>
</div>						
<div class="row margin-bottom-panel">
	<div class="col-md-6">
    	<a ng-click="nuevaLista(formData)" class="btn btn-block btn-info"> Crear <span class="glyphicon"></span></a>
	</div>
	<div class="col-md-6">
		<a ng-click="setStep(4)" class="btn btn-block btn-info"> Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
	</div> 
</div>
					
