 <h3 class="text-center">Elección <small>Crea tu elección.</small></h3>
 <div class="form-step">   
	<div class="row">    
	<label>Nombre</label>
	<input  style="margin-bottom: 10px;" class="form-control" placeholder="Ej: Elecciones Nacionales 2015" ng-model="formData.Nombre"required autofocus>
	</div>
	<div class="row">   
	<label>Descripción</label> 
	<input  style="margin-bottom: 10px;" class="form-control" placeholder="Ej: La próxima eleccion.." ng-model="formData.DescripcionEleccion"required>
	</div>
	<div class="row">
	<label>Fecha</label>
	    <p class="input-group">
	      <input type="text" class="form-control" datepicker-popup="{{format}}" init-date="formData.Fecha" ng-model="formData.Fecha" is-open="datePicker.isOpen" min-date="{{dt}}" max-date="'2020-12-30'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"required/>
	      <span class="input-group-btn">
	        <button type="button"  class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	            </span>
	          </p>
	      </div>
	      <div class="row"> 
	         	<label for="tipoEleccion">Tipo Eleccion:</label>
	         	<select ng-click="tipoEleccionSel()" class="form-control" id="tipoEleccion" name="tipoEleccion" type="checkbox" ng-model="formData.tipoEleccion" required>
	         		<option value="Nacional">Nacional</option>
	         		<option value="Departamental">Departamental</option>
	         		<option value= "Simple">Plebiscito</option>
					<option value="Otra">Otra</option>	
	         	</select>
	         <br>
	    	</div>
	      <br>
	      <div class="row margin-bottom-panel">
	  <a ng-click="setStep(siguientePaso1)" class="btn btn-block btn-info"> Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
	</div>

</div>						
					
