<div>
 <form class="form-signin container-fluid">
      
				<h4> Partidos Participantes </h4>
		
	<div class="partidos">
    <input type="checkbox" /> Partido Blanco <br />
    <input type="checkbox" /> Partido Colorado<br />
    <input type="checkbox" /> Partido Frente Amplio <br />
	</div>
	
	
		
        <div>
		  <a ng-click="setStep(3)" class="btn btn-block btn-info"> Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
		</div>
		</form>
		
 
</div>