<div class="margin-top-panel">
		  <div>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="1500" close="closeAlert($index)">{{alert.msg}}</alert>
		  </div>
	<div class="row">
		   <label>Logo</label>    
		   <input id="logoEleccion" type="file" onchange="angular.element(this).scope().addLogo(this)">
		</div>
	<hr>
	<div class="panel panel-info">
		<div class="panel-heading">
		    <h3 class="panel-title">Estilos <small>Agrega los estilos a la web.</small></h3>
		</div>
	  	<div class="panel-body">
		    <p>Aqui puedes modificar el estilo de la web de la eleccion.</p>
			<div ui-ace="{theme:'monokai', mode: 'css', onLoad: aceLoaded, onChange: aceChanged}" class="editor"></div>
			{{aceDocumentValue|json}}
		</div>
	</div>
    <div class="margin-bottom-panel">
		<button ng-click="altaEleccion(formData)" type="submit" class="btn btn-block btn-info">Finalizar</button>
	</div>
</div>