 <div>
             
        <div class="row">    
        <input  style="margin-bottom: 10px;" class="form-control" placeholder="Nombre" ng-model="formData.Nombre"required autofocus>
        </div>
        
        <div class="row">
        
      
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" init-date="Fecha" placeholder="Fecha" ng-model="formData.Fecha" is-open="datePicker.isOpen" min-date="minDate" max-date="'2015-12-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
     
        </div>
        
        
        <br>
        <div class="row col-md-13">
		  <a ng-click="setStep(2)" class="btn btn-block btn-info"> Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
		</div>
            
   		
      
</div>						
					
