@CHARSET "UTF-8";

.radio-fuentes{
	vertical-align: middle;
	margin: 0px;
}
.facebook-icon{
	color:#3b5998;
}
.twitter-icon{
	color:#2e98d0;
}
.youtube-icon{
	color:red;
}
/* Contenedor body */
.contenedor-templates {
	height: auto;
	min-height: 650px;	
}
/* Contenedor Logo*/
.logo-container {
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 5px;
	min-height: 100px;
}
.logo-img{
	border: 1px solid #337AA5;
}
.padding-titulo {
	margin-left: 20px;
}
/* Form alta eleccion */
.form-alta-eleccion {
	width: 50%;
	max-width: 1000px;
	/*padding: 15px;*/
	margin: 0 auto;
}
.margin-top-panel{
	margin-top: 20px;
}
.margin-bottom-panel{
	margin-bottom: 20px;
}
.radio-div{
	padding-left: 10%;
	display: flex;
}
/* editor */
.editor {
	height: 300px;
	width: 100%;
}
/* STEPS */
.form-step{
	margin-top: 20px;
	padding-left: 25%;
	padding-right: 25%;
}
.center-buttons{
}
.fuentes-informacion{
	margin-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
}
.over-votapp{
	border: 1px solid #337AA5;
}
.dropzone{
	padding-left: 3em;
	width: 100%;
	background-color: #67c9fd;
}